<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="bandeau">
    <img src="asset/1.jpg">

    <div class="menu">
        <img class="photo" src="asset/1.jpg">

        <div class="aa">
            <div class="titres">
                <p class="submenu">PARTICULIER</p>
                <p class="submenu" >PROFESSIONEL</p>
                <p class="submenu" >GALERIES</p>
                <p class="submenu" >CONTACT</p>
            </div>

            <div class="titres">
                <div class="submenu">
                    <a>Evenement</a>
                    <a>Workshop</a>
                    <a>Studio</a>
                    <a>Animaux</a>
                    <a>Charme</a>
                    <a>Lifestyle</a>
                </div>

                <div class="submenu">
                    <a>Présentation d'entreprise</a>
                    <a>Présentation de produit</a>
                    <a>Photo d'immobilier</a>
                    <a>Couverture d'évenement</a>
                </div>
                <div class="submenu">
                    <a>Croute</a>
                    <a>Bigre</a>
                    <a>Isseo</a>
                    <a>...</a>
                </div>
                <div class="submenu">
                    <a>Contact</a>
                    <a>Livre d'Or</a>
                </div>
            </div>
        </div>

    </div>
    <div class="connexion">
        <p>Bloc de connexion</p>
    </div>

</div>
</body>
</html>