<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


        <a href="/">
            <img class="logo" src="asset/1.jpg">
        </a>

        <div class="menu">
            <img class="logo" src="asset/1.jpg">

            <div class="aa">
                <div class="titres">
                    <p class="submenu">PARTICULIER</p>
                    <p class="submenu" >PROFESSIONEL</p>
                    <p class="submenu" >GALERIES</p>
                    <p class="submenu" >CONTACT</p>
                </div>

                <div class="titres">
                    <div class="submenu">
                        <a href="particuliers">Evenement</a>
                        <a href="particuliers">Workshop</a>
                        <a href="particuliers">Studio</a>
                        <a href="particuliers">Animaux</a>
                        <a href="particuliers">Charme</a>
                        <a href="particuliers">Lifestyle</a>
                    </div>

                    <div class="submenu">
                        <a href="professionels">Présentation d'entreprise</a>
                        <a href="professionels">Présentation de produit</a>
                        <a href="professionels">Photo d'immobilier</a>
                        <a href="professionels">Couverture d'évenement</a>
                    </div>
                    <div class="submenu">
                        <a href="galerie">Croute</a>
                        <a href="galerie">Bigre</a>
                        <a href="galerie">Isseo</a>
                        <a href="galerie">...</a>
                    </div>
                    <div class="submenu">
                        <a href="contact">Contact</a>
                        <a>Livre d'Or</a>
                    </div>
                </div>
            </div>

        </div>





</html>