{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
    {% dump %}
<h2>Bonjour {{ user.username }} </h2>
    <p>Cliquez sur une commande pour voir les détail</p>
    <ul>
        {% for elem in commande %}
        <li><a href="{{ path('gestion_commande', {'id' : elem.id }) }}">Commande n°{{ elem.id }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
