<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="asset/style.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
        <div class="bandeau">
        {% include 'header/header.html' %}
        <div class="connexion">
            {{ render(controller('App\\Controller\\SecurityController::login')) }}
        </div>
        </div>
    </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="asset/script.js"></script>
    </body>
</html>
