{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div>
    <div>

        <button> Proposition 1</button>
        <button> Proposition 2</button>
        <button> Proposition 3</button>
        <button> Proposition 4</button>

    </div>
    <div>
        <form class="form">
            <div class="textarea">
                <textarea rows="10" cols="50" placeholder="Entrer votre texte">{{ affichage }}</textarea>
            </div>
            <div class="input">
                <input type="text" placeholder="Prénom" required>
                <input type="text" placeholder="Nom" required>
            </div>
            <div class="input">
                <input type="text" placeholder="Téléphone" required>
                <input type="text" placeholder="E mail" required>
            </div>

            <button class="button">Envoyer</button>
        </form>
    </div>
</div>

{% endblock %}
