<form method="post" action="" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="">
    <button class="btn">Delete</button>
</form>
