{% extends 'base.html.twig' %}


{% block title %}Photographie{% endblock %}

{% block body %}

    <div class="presentation-photographe">
        <img id="BO-photo-presentation-accueil" src="/asset/img/Fond-de-presentation.jpg" alt = "Photo du photographe">
        {% for item in Text %}
            {% if item.hook == 101 %}
        <p class="text-presentation-photographe">{{ item.text }}</p>
            {% endif %}
        {% endfor %}
    </div>

    <div class="presentation-global">
        {% include 'professionels/index.html.twig' %}
        {% include 'particuliers/index.html.twig' %}
    </div>


{% endblock %}
