{% extends 'base.html.twig' %}
{% dump %}
{% block title %}Benoit Mansanarez Photographie{% endblock %}

{% block body %}
    <div class="presentation-photographe">
        <img id="BO-photo-presentation-accueil" src="/asset/img/Fond-de-presentation.jpg" alt = "Photo du photographe">
        <p class="text-presentation-photographe">{{ presentation.text }}</p>
    </div>

    <div class="container">
        {% include 'professionels/index.html.twig' %}
        {% include 'particuliers/index.html.twig' %}
    </div>
{% endblock %}
