<div>
    <p>Bonjour {{ User.username |capitalize }}</p>
</div>
<div class="submenu">
    {% dump %}
    {% if User.galery %}
    <a href="{{ path('galerie_image',{'id': User.galery.id}) }}" >Ma galerie</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="/fr/admin">Panneau d'administration</a>
        <a href="/fr/uploader">Upload de contenu</a>
    {% endif %}
</div>

<form action="/logout">
    <input type="submit" value="Deconnexion" />
</form>