{% block stylesheets %}
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
{% endblock %}


<form action="{{ oneup_uploader_endpoint('gallery') }}" method="post" class="dropzone">
</form>



{% block javascripts %}
    <script src="/asset/js/dropzone.js"></script>
{% endblock %}
