

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="d-none d-lg-block col-lg-2">
                <img  src="/asset/img/logo/Logo-BM.png" class="photo-footer">
            </div>
            <div class="d-none d-lg-block col-lg-3">Adresse</div>
            <div class="col-lg-2 col-sm-4">
                <div class="row">
                    <img class="col-sm-3 lien" src="lien facebook.png ">
                    <img class="col-sm-3 lien" src="lien flickr.png">
                    <img class="col-sm-3 lien" src="lien linked.png">
                    <img class="col-sm-3 lien" src="lien twitter.png">
                </div>
            </div>
            <div class="col-lg-3 col-sm-4">Mention</div>
            <div class="col-lg-2 col-sm-4" >
                <img alt="bob" src="/asset/img/logo/Logo-BM.png" class="logo-footer">
            </div>
        </div>
</div>
