{% extends 'base.html.twig' %}


{% block body %}
    <div>


        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button formaction="/inscription" type="submit">Valider</button>
        {{ form_end(form) }}

    </div>



{% endblock %}
