

/*Accueil*/
.container{
    display: flex;
    flex-wrap: wrap;
}

.photo-presentation{
    width: 250px;
    height: 250px;
}

.presentation-photographe{
    width: 100%;
    position: relative;
}

.logo-client{
    width: 100px;
    height: 100px;
    margin: 10px;
}

.section-presentation{
    width: 45%;
    padding: 2%;
    min-width: 400px ;
}

.presentation{
    padding: 5px;
}

#BO-photo-presentation-accueil{
    height: 250px;
    width: 100%;
    position: static;
}

.text-presentation-photographe{
    position: absolute;
    border: 1px solid red;
    top: 70px;
    left: 15px;
    margin: 25px;
    width: 50%;
    color : #bfe5f1;
}

.presentation-global{
    display: flex;
    flex-wrap: wrap;
}
/*Fin d'accueil*/

/*Formulaire de contact*/
.radio{
}

.input{
}

.dot{
    font-size : 120px;
    border-radius : 10px;
}

h1{
    text-align : center;
}

.livredor{
    background : grey;
    text-align : center;
}

.form-container{
    align: center;
    border : solid black 1px;
    border-radius: 15px;
    width : 60%;
    margin: auto;
}

.form{
    text-align : center;
}

p{
    text-align : center;
}
/*Fin de formulaire de contact*/

/*Header*/
body{
    margin-top: 200px; !important;
}
header{
    width : 100%;
    top: 0px;
    bottom : auto;
    position : fixed;
    z-index: 6;
}
.bandeau{
    display: flex;
    width : 100%;
}

.logo{
    width : 150px;
    height : 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.photo{
    width : 100px;
    height : 100px;
    padding : 20px;
    margin-right: 100px;
}

.menu{
    display: flex;
    background: black;
    color: white;
    width : 90%;
}

.titres{
    display: flex;
    justify-content: space-around;

}

.titres p {
    display: flex;
    flex-direction: column;
    margin : 20px;
    font-size: large;
}

.titres div{
    border-right: 2px solid white;
}

.submenus{
    display : flex;
}

.submenu{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 20px;
    width : 30%;

}
.submenu a{
    display: block;
    font-size: small;
    justify-content: center;
    text-decoration: none;
    color : white;
}

.aa{
    display: flex;
    flex-direction: column;
    width: 60%;

}

.connexion{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-around;
    background: black;
    color : white;
    padding : 30px auto;

}
/*Fin Header*/

/* Galerie */
#galerie-menu
{
    height:300px;
    margin:3em auto;
    border:solid;
    border-radius:5px;
    box-shadow:1px 1px 3px gray;
    text-align:right;
    position:relative;
    white-space:nowrap;
    overflow:hidden;
}
#galerie-menu a, #galerie-menu:hover a:focus
{
    display:inline-block;
    vertical-align:top;
    width:100px;
    height:300px;
    overflow:hidden;
    position:relative;
    z-index:1;
    box-shadow:0 0 15px white;
    transition:2s;
    transition-timing-function: cubic-bezier(0.00,0.01,0.00,1.00)
}
#galerie-menu a:hover , #galerie-menu a:focus
{
    width:400px;
    transition:2s;
    transition-timing-function: cubic-bezier(0.00,0.01,0.00,1.00)
}
#galerie-menu a:first-child, #galerie-menu:hover a:focus:first-child
{
    width:400px;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
#galerie-menu a:before
{
    content:attr(title);
    text-align:center;
    height:100px;
    width:300px;
    position:absolute;
    bottom:0;
    left:0;
    padding-right:100px;
    font-size:30px;
    color:white;
    border:1px solid gray;
    box-shadow:0 0 15px white;
    background:rgba(0,0,0,0.3);
    line-height:28px;
}
#galerie-menu , #galerie-menu a
{
    height:100px;
    transitions:1s;
}
#galerie-menu:hover , #galerie-menu:hover  a
{
    height:300px;
    transition:1s;
}
/*Fin Galerie*/
