

.fond{
	width: 100%;
}


.text-pres{
	background-color: grey;
    opacity: 0.7;
}

.BLOC{
	margin: 50px 25px 50px 25px;
}

.TITRE{
	font-size:24px;
	font-weight:700;	
}

.text-titre{
	font-size:12px;
	font-weight:700;
	margin-bottom: 25px
}

.photo{
	width: 100%;
	max-width: 150px;
	max-height: 150px;
	box-shadow: 2px 2px 2px grey;
}
