.container{
	margin-top: 50px;
}

/*----------------------HEADER------------------------------*/


/* logo */

#logo1{
	padding: 0px 0px 0px 0px;
	height: 100%;
	max-width: 150px;
}
	


/* signature */

#signature{
	margin-top: 20px;
	padding: 0px 0px 0px 0px;
	height: 100%;
	max-width: 250px;

}


/* menu */

.menu{
	padding: 0px 0px 0px 0px;
	min-width: 490px;
	margin-top: 45px;
	font-family: cambria;
	font-weight:700;
}

a:visited{
	color:black;
}

a{
	text-decoration: none;
	color:black;
}

/* formulaire */

.input{
	font: 12px Cambria;
	margin-bottom: 15px;
 	padding:6px 40px 6px 45px;
 	border:1px solid black;
 	border-radius:9px;
 	width:157px;
 	box-shadow:3px 3px 9px #ece9e9 inset;
 	color:#cecece;
 }

 button{
	border:none;
	padding:6px 50px 6px 50px;
	border-radius:8px;
	box-shadow:2px 2px 6px #999;
	background:black;
	font:bold 12px Cambria;
	color:white;
}

.barre{
  height: 4px;
  background: black;
}

/*----------------------FOOTER------------------------------*/

.barre{
	height: 4px;
 	background: black;
}

#photob{
	padding: 0px 0px 0px 0px;
	height: 100%;
	max-width: 150px;
	max-height: 150px;
}

#lien{
	height: 100%;
	max-width: 30px;
	max-height: 30px;	
}

#logo2{
	padding: 0px 0px 0px 0px;
	height: 100%;
	max-width: 150px;
	max-height: 150px;
}