{% extends 'base.html.twig' %}

{% block body %}
<div class="boxcontainer section">
    <div class="box">
        <h1> <span class="dot">.</span> LIVRE D'OR <span class="dot">.</span></h1>
        <div class=" veuillez"> Veuillez vous connecter pour laisser vos messages</div>


            <textarea class="textarea-contact" rows="20" cols="100" placeholder="Entrer votre texte"></textarea>
            <button class="button-contact">Envoyer</button>

    </div>
</div>

<div class="boxcontainer section">
    <div class="box">
        <h1> <span class="dot">.</span> LIVRE D'OR <span class="dot">.</span></h1>
        <p> "Je recommande vivement ce photographe très pro" </p>
    </div>
</div>

{% endblock %}
