{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1> <span class="dot">.</span> FORMULAIRE DE CONTACT <span class="dot">.</span></h1>
    <p> N'hésitez à m'nvoyer vos avis, vos questions ou autres demandes de devis de prestation.</p>
    <form class="form">
        <div class="radio">
            <label for="Particulier">Particulier</label>
            <input type="radio" name="Choice" value="Particulier">
            <label for="Professionel">Professionel</label>
            <input type="radio" name="Choice" value="Professionel">
        </div>
        <div class="input">
            <input type="text" placeholder="Prénom" required>
            <input type="text" placeholder="Nom" required>
        </div>
        <div class="input">
            <input type="text" placeholder="Téléphone" required>
            <input type="text" placeholder="E mail" required>
        </div>
        <div class="textarea">
            <textarea rows="10" cols="50" placeholder="Entrer votre texte"></textarea>
        </div>
        <button class="button">Envoyer</button>
    </form>

    <div class="livredor">
        <p>Livre d'or</p>
    </div>
{% endblock %}
