
{% block script %}

<script type="text/javascript" src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<script src="./../../public/asset/js/dropzone.js"></script>

{% endblock %}

{% extends 'base.html.twig' %}


{% block body %}


    <form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone" style="width:200px; height:200px; border:4px dashed black">
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>



{% endblock %}
