
{% extends 'base.html.twig' %}


{% block body %}
    <script src="/asset/js/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">





    <!-- Change /upload-target to your upload address -->
    <form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone">
    </form>




{% endblock %}
