
{% extends 'base.html.twig' %}


{% block body %}
    <script src="/asset/js/dropzone.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">


    <p>
        This is the most minimal example of Dropzone. The upload in this example
        doesn't work, because there is no actual server to handle the file upload.
    </p>


    <!-- Change /upload-target to your upload address -->
    <form action="upload-target" class="dropzone"></form>



    {#<script type="text/javascript" src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>#}
    {#<script src="/asset/js/drozone.js"></script>#}
    {#<form action="/file-upload"#}
          {#class="dropzone"#}
          {#id="my-awesome-dropzone"#}
            {#style="margin-top: 400px; width: 200px; height: 200px"></form>#}


{% endblock %}
