
{% extends 'base.html.twig' %}


{% block body %}
    <div>
        <div>

            <button> Proposition 1</button>
            <button> Proposition 2</button>
            <button> Proposition 3</button>
            <button> Proposition 4</button>

        </div>
        <div>


                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

