
###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
/var/
.idea/
../.idea/
vendor/
composer.lock
phpunit.xml
.php_cs.cache
composer.phar
package.tar
/packages.json
/.phpunit
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
